

*{
    margin: 0;
}
.title{
    color: #F9FAFB;
    min-height: 350px;
    background-color: #1F2937;
}
.title .btn{
    color: rgb(38, 212, 212);
}
.title .btn:hover{
    background-color: #06B6D4;
}
.title .btn2:hover{
    color: #06B6D4;
    background-color: #06B6D4;
}

.profile{
    width: 50%;
    border-radius: 50%;
}
.project{
    color:#1F2937 ;
}

.min-head{
    color: black;
}
.about-image img{
    width: 100%;
}
.title .btn{
    color: #1F2937;
}
.row .btn:hover{
    background-color: #1F2937;
}
.row .btn2{
    background-color: #1F2937;
    border: #F9FAFB;
}
.row .btn2:hover{
    color: #1F2937;
    background-color:#1F2937;
}
.foot{
    background-color: #1F2937;
    min-height: 100%;
}